<div class="container">
    <div class="setup">
        <div class="card">
            <div class="card-header">
                <h4>CONFIGURATION DES LIEUX DE TRAVAIL</h4>
            </div>
            <div class="card-body">
                <%= render 'form', work_place: @work_place %>
            </div>
        </div>
    </div>

</div>