<div class="container">
	<div class="br-pagebody">
  		<div class="br-section-wrapper">
  			<div class="page-title">
				<h2>Commander  une nouvelle carte</h2>
				Veuillez fournir des vrais informations  dans le formulaire ci-dessous.
			</div>
			
			<%= render 'form', order_card: @order_card %>

			
		</div>
	</div>



</div>
