<% @identity_types.each do |identity_type| %>
    <tr>
    <td><%= identity_type.name %></td>
    <td>
            <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_identity_type_path(identity_type.uid), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), identity_type_delete_path(identity_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
        </td>
    </tr>
<% end %>