<h1>Editing Structure Medicament</h1>

<%= render 'form', structure_medicament: @structure_medicament %>

<%= link_to 'Show', @structure_medicament %> |
<%= link_to 'Back', structure_medicaments_path %>
